/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  header {
    padding-top: 10px;
    padding-bottom: 12px
  }
  header .navbar {
    padding-right: 0;
    padding-left:  0;
  }
  header .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  header .navbar {
    border-radius: 4px;
  }
  header .navbar-name h2 {
    margin:20px 0 10px 
  }
  .navbar>.container .navbar-brand {
    margin-left: -30px;
  }
  #block-lang-search {
  margin-top: -11px;
  width: 400px;
  }
   .breadcrumbs {
    padding-top: 110px
  }
  .breadcrumbs i.angle-left {
    display:none;
  }
  .breadcrumbs ul.bclist {
  display: inline-block;
}
  .breadcrumbs ul.bclist li{
    margin: 15px 0;
    padding:10px 0;
  }
  .breadcrumbs h1.title {
    font-size: 24px;
    margin: 15px 0;
    padding:10px 0;
  }
  section#home {
    padding-top: 110px;
  }
  section#content {
    padding-top: 215px;
  }
  .jumbotron h2{
    font-size: 18px;
    margin: 20px 0;
    letter-spacing: 0.02em;
  }
  .jumbotron h4{
    font-size: 18px;
    margin: 10px 0;
  }
  .jumbotron span img{
    max-width:120px;
  }
  .sticky{
    opacity: 1
  }
  .container>.navbar-collapse {
    margin-left: 50px;
    position: absolute;
    margin-top: 57px;
  }
  .navbar-nav>li:first-child{
    margin-left:-15px;
  }
  /* Nav Indicator */
   #access .indicator {
    margin-left:50px;
  }
  #access .indicator div {
    background-color:rgb(240,70,70);;
    top: 87px;
    height: 6px;
    position: absolute;
    -webkit-transition-property: margin-left,width;
    -moz-transition-property: margin-left,width;
    -o-transition-property: margin-left,width;
    transition-property: margin-left,width;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
    -moz-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
    -o-transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
    transition-timing-function: cubic-bezier(0, 0.71, 0.51, 0.97);
    visibility: hidden;
  }

  #access .indicator.on div {
    visibility: visible;
  }
  #access .indicator div.left121 {
    width: 97px;
    margin-left: 15px;
  }
  #access .indicator div.left122 {
    width: 70px;
    margin-left: 141px;
  }
  #access .indicator div.left123 {
    width: 85px;
    margin-left: 242px;
  }
  #access .indicator div.left124 {
    width: 67px;
    margin-left: 356px;
  }
  #SliderContainer .captionwrap p {
    font-size: 36px;
  }
  #controlswrap {
    top: 8%;
  }
  .flex-direction-nav a  { 
    width:30px;
    height:30px;
  }
  .flex-direction-nav a:before {
    font-size: 29px
  }
  .flex-direction-nav .flex-next{
   margin: -30px 0 0;
  }
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .prod-desc-heading span{
   max-width: none;
  }
  .prod-desc-heading span img.CE {
    margin-top:15px;
    max-width: 45px
  }
  .prod-desc-heading span img.pro {
    max-width: 130px;
    padding-left:5px;
  }
  .prod-desc-panel ul.normes li a.tax_img img{
    margin-top: -12px;
  }
  span.page-haut{
    padding-top:0;
  }

  a.contact{
    margin-right: 20px;
  }
  .page-content section ul li img,
  .page-content section img{
    margin: 20px 20px 0
  }
  #vedette .col-md-6.col-sm-6.actu-tease {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0
  }
  .a-la-une .actu-tease h4 {
    margin-top: 5px;
  }
  .a-la-une .contact{
    float: right;
    text-align: right
  }
  .a-la-une .contact h2 {
    padding: 0 0px 10px 40px;
    text-align: right;
  }

}
@media (min-width: 992px) {
  #navside .nav-fix.affix-top {
    position: fixed;
    width: 227px;
   top: 217px;
  }
  #navside .nav-fix.affix {
    position: fixed;
    width: 227px;
    top: 217px;
  }
  #navside .nav-fix.affix-bottom{
    position: absolute;
    width: 227px;
  }
  #navside .normes-list li.cat-1 {
    display: block;
  }
   .sticky{
    width:213px;
  }
  #controlswrap {
    top: 10.5%;
  }
}
@media (min-width: 1200px) {
  .flex-direction-nav .flex-prev { 
    margin-right: 50px;
  }
  .flex-direction-nav .flex-next{
   margin: -40px 0 0;
  }
  .flex-direction-nav a  { 
    width:40px;
    height:40px;
  }
  .flex-direction-nav a:before {
    font-size: 39px
  }
   #navside .nav-fix.affix-top {
    position: fixed;
    width: 278px;
    top: 217px;
  }
  #navside .nav-fix.affix {
    position: fixed;
    width: 278px;
    top: 217px;
  }
  #navside .nav-fix.affix-bottom{
    position: absolute;
    width: 275px;
  }
  #navside .normes-list li img {
    max-height: 50px;
    max-width: 40px;
  }
  #navside .normes-list li.cat-1 {
    display: block;
  }
  #navside .normes-list li.cat-1 a {
  font-size: 12px
  }
  .sticky{
    width:260px;
  }
  .collection .gamme-thumb img{
    min-width: 255px;
  }
}

@media screen and (max-width: 860px) {
 .thumbslider .flex-direction-nav{display: none}
}
@media screen and (max-width: 320px) {
  .page-content section img{
    max-width: 290px
  }
}