{% extends "base.twig" %}

{% block content %}
	<div class="row">
		<div id="navside" class="col-md-3">	
			{% include ['sidebar-search.twig'] %}
		</div>
		<div class="col-md-9 collection pull-right" role="main">
			<div class="row">
			 
			 {% for gamme in gammes %}   	
            	<div class="col-md-6">
            		<div class="gamme-thumb" onclick="window.location='{{gamme.link}}'">
	            		
		                 	<div class="caption_overlay">
								<h4>{{gamme.name}}</h4>
							</div>
							{% if gamme.tax_img %}
		                 		<img src="{{gamme.tax_img}}">
		                 	{% else %}
								<img src="{{theme.uri}}/img/blank.jpg">
		                 	{% endif %}
					
					</div>
				</div>
		    {% endfor %}

		</div>
    </div>             
{% endblock %}