{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
    <body class="{{body_class}}" data-source="base.twig">

            {% include 'header.twig' %}
            {% include 'breadcrumbs.twig' %}

            <section id="content" class="content-wrapper">

                <div class="container">
                   
                    {% block content %}
                        Sorry, no content
                    {% endblock %}
                    
                </div>

            </section>


        {% include 'footer.twig' %}
        {{ function('wp_footer') }}

    </body>
</html>