 <!-- Breadcrumbs  -->
<div class="breadcrumbs">
	<div class="container">
		  {% if title %}
		  		<h1 class="title">{{title}}</h1>
		  {% else %}
				 <h1 class="title">{{post.title}}</h1>
		  {% endif %}
	</div>
</div>