<footer id="footer">
	<div class="container">
		<div class="bottom-nav">
		<p>
			{% for item in footer.get_items %}
               <a href="{{item.get_path}}">{{item.title}}</a>{% if loop.last %}{% else %}&nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
            {% endfor %}
        </p>
        <p>&copy;&nbsp;{{"now"|date('Y')}}&nbsp;&middot;&nbsp;PROCOVES INDUSTRIE</p>
		</div>
        <div class="iso">
			<span><img src="{{logo_afaq}}"></span>
		</div>
	</div>
</footer>