{% extends "base.twig" %}

{% block content %}
	<div class="row">
		
		<div id="navside" class="col-md-3">
			{% include ['sidebar.twig'] %}
		</div>

		<div class="col-md-9 actu-content pull-right" role="main">
			{% for post in posts %}
			{% include ['partials/article.twig'] %}
			{% endfor %}
		</div>
    </div>             
{% endblock %}