{% extends "base.twig" %}

{% block content %}
	<div class="row">
		<div id="navside" class="col-md-3">
	 		{% include ['sidebar-search.twig'] %}
		</div>
		<div class="col-md-9 produits pull-right" role="main">
			{% if produits %}
			{% include ['produits-loop.twig'] %}
			{% else %}
			<h4>Aucun Produits Trouvés...</h4>
			<p>Vérifiez si votre orthographe est correcte et supprimez les eventuels guillemets autour des expressions pour rechercher chaque terme individuellement.<p>
			{% endif %}
		</div>
    </div>             
{% endblock %}