{% extends "base.twig" %}

{% block content %}
	<div class="row">
		<div id="navside" class="col-md-3">
	 		{% include ['partials/sidebar-search.twig'] %}
		</div>
		<div class="col-md-9 search pull-right" role="main">
			<div class="row thumbs">
				{% filter shortcodes %}
					[facetwp template="produits"]
				{% endfilter %}
			</div>
		</div>
    </div>             
{% endblock %}