
<div class="searchside">
	<h2><span class="redline"></span>
	RECHERCHE</h2>

		<input type="text" class="form-control sidebar" placeholder="Nom">
		<input type="text" class="form-control sidebar" placeholder="Refs">
		<input type="text" class="form-control sidebar" placeholder="Matieres">
		<input type="text" class="form-control sidebar" placeholder="Secteur d'activite">
	</div>
<div class="normeside">
	
</div>
<div class="gammeside">
	
</div>

