{% extends "base.twig" %}

{% block content %}
	<div class="row">
		
		<div id="navside" class="col-md-3">
			{% include ['sidebar.twig'] %}
		</div>
		
		<div class="col-md-9 actu-content pull-right" role="main" id="actu-{{post.ID}}">
			
			{% include ['article.twig'] %}

		</div>
	</div> <!-- /.row -->
{% endblock %}