{% extends "base.twig" %}

{% block content %}
	<div class="row">
		
		<div id="navside" class="col-md-3">
			{% include ['sidebar.twig'] %}
		</div>
		
		<div class="col-md-9 page-content pull-right" role="main" id="post-{{post.ID}}">
			<section class="article-content">	
				<h2>{{ post.title }}</h2>
				<p class="blog-date">
					<span>{{ post.display_date }}</span>
				</p>

				<div class="article-body">
					{{post.content}}
				</div>
			</section>

		</div>
	</div> <!-- /.row -->
{% endblock %}