{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">	
				
				<p class="blog-date">
					<span>{{ post.display_date }}</span>
				</p>

				<div class="article-body">
					{{post.content}}
				</div>
			</section>

		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}