{% extends "base.twig" %}

{% block content %}
	<div class="loading"></div>
	<div class="row search">
		<div id="navside" class="col-md-3">
	 		{% include ['partials/sidebar-search.twig'] %}
		</div>
		<div class="col-md-9 taxonomy pull-right" role="main">
			<div class="row thumbs">
				{% filter shortcodes %}
					[facetwp template="taxonomy"]
				{% endfilter %}	
			</div>
		</div>
    </div>             
{% endblock %}