{% extends "base.twig" %}

{% block content %}
	<div class="row">
		<div id="navside" class="col-md-3">
	 		{% include ['partials/sidebar-search.twig'] %}
		</div>
		<div class="col-md-9 taxonomy pull-right" role="main">
			{% include ['partials/produits-loop.twig'] %}
		</div>
    </div>             
{% endblock %}