{% extends "base.twig" %}

{% block content %}
	<div class="loading"></div>
	<div class="row search">
		<div id="navside" class="col-md-3">
	 		{% include ['partials/sidebar-search.twig'] %}
	 		<div class="side-up">
		 		<div class="facet-loading">
					<div class="facet-spin"></div>
					<p>{{__('Chargement des criteres...')}}</p>
				</div>
				<div class="sticky ajax-hide">
					<a id="back-to-top" href="#top" title="Haut de page">
						<span>{{__('Retour haut de page', 'procoves')}}</span>
						<i class="angle-up"></i>
					</a>
					<div class="redbutton">
						<button class="reset-facets" onclick="FWP.reset()">Reinitialiser</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 taxonomy pull-right" role="main">
			<div class="row thumbs">
				{% filter shortcodes %}
					[facetwp template="taxonomy"]
				{% endfilter %}	
			</div>
		</div>
    </div>             
{% endblock %}