<!-- Slider Thumbs  -->
<div id="thumbslider-wrap">
	
	<h2><span class="redline"></span>Nos Produits</h2>
	<div class="container thumbslider">
	      	<ul class="slides">
	      		{% for produit in produits %}
		      	<li onclick="window.location='{{produit.link}}'">
	      			<div class="caption_overlay">
						<h4>{{produit.title}}</h4>	
					</div>
		      		<img src="{{TimberImage(produit.img_prod).get_src|resize(300,300)}}">
		      		{% if produit.get_field('nouveau') %}
		      			<div class="ribbon-wrapper-home">
		      				<div class="ribbon-home">NOUVEAU</div>
		      			</div>
		      		{% endif %}
			    </li>
			    {% endfor %}
		    </ul>
    </div>
</div>	

{% include 'partials/actu-tease.twig' %}