<div class="searchside">
	<h2><span class="redline"></span>
	RECHERCHE</h2> 
	{% filter shortcodes %}
		[facetwp facet="nom"]
	{% endfilter %}
	{% filter shortcodes %}
		[facetwp facet="refs"]
	{% endfilter %}
	{% filter shortcodes %}
		[facetwp facet="matieres"]
	{% endfilter %}
	{% filter shortcodes %}
		[facetwp facet="activites"]
	{% endfilter %}
</div>
<div class="searchside normes">
	<h2><span class="redline"></span>
	NIVEAU DE PERFORMANCE</h2>
	{% filter shortcodes %}
		[facetwp facet="niveau_de_performance"]
	{% endfilter %}
</div>
<div class="searchside gammes">
	<h2><span class="redline"></span>
	GAMMES</h2>
	{% filter shortcodes %}
		[facetwp facet="gammes"]
	{% endfilter %}
</div>