local-config.php
.DS_Store
/content/plugins/debug-bar
/content/plugins/debug-bar-post-types
/content/plugins/debug-bar-timber
/content/plugins/wp-migrate-db
/content/upgrade
/content/uploads
/content/plugins/akismet

/wp

/content/plugins/facetwp
/content/plugins/facetwp-cache
/content/plugins/facetwp-wpml
/content/plugins/searchwp
/content/plugins/searchwp-like
/content/plugins/searchwp-wpml
